AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_DEFAULT_REGION=eu-north-1
S3_BUCKET_NAME=my-ml-datalake-01
GLUE_DATABASE_NAME=mlops_demo_db
ATHENA_WORKGROUP=mlops-outlier-detection
ATHENA_OUTPUT_PREFIX=athena-results
